p {
    text-align: center;
    color:black
}

h1 {
    text-align: center;
    color: red;
  }
  
  h2 {
    text-align: center;
    color: red;
  }

ul {
    text-align: center;
    color:black

}

ol {
    text-align: center;
}